/* fill-remaining-spacer is not used */
.fill-remaining-spacee {
    /* This fills the remaining space, by using flexbox. 
    Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

/* #toolbar {
    background-color: pink;
}  */


#toolbar-title {
    margin: auto;
}

#infoLink {
    margin-top: 8px;
}

.material-icons {
    color: white;
    font-size: 30px;
}

